@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-100);
  --color-success: var(--color-emerald-100);
  --color-info: var(--color-indigo-100);
  --color-error: var(--color-red-100);

  --font-poppins: Poppins, sans-serif;
}
